<li class="drop-down nav-item nav-link"><a href="#">About Us</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
    <li><a href="#">About the Library</a></li>
    <li><a href="#">Library Team Members</a></li>
    <li><a href="#">LAC Members</a></li>
    </ul>
</li>