<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
  <%- include('../partials/navbar.ejs',{User: User,LoggedIn:LoggedIn}) %>
  <div class="container py-3">
    <form action="/askABook" method="post" enctype="form-data"
    >
    <div class="row">
     
          <div class="row justify-content-center">
            <div class="col-md-12">
              <span class="anchor" id="formUserEdit"></span>
              
              <!-- form user info -->
              <div class="card card-outline-secondary">
                <div class="card-header text-center">
                  <h3 class="mb-0">Ask For A Book</h3>
                </div>
                <div class="card-body">
                  <form autocomplete="off" class="form" role="form">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Book Name</label>
                      <div class="col-lg-9">
                        <input class="form-control" name = "title" type="text" placeholder="Title">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Author</label>
                      <div class="col-lg-9">
                        <input class="form-control" name = "author" type="text" placeholder="Name of Author">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Edition</label>
                        <div class="col-lg-9">
                          <input class="form-control" name = "edition" type="text" placeholder="Edition of The Book">
                        </div>
                      </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Publisher</label>
                        <div class="col-lg-9">
                          <input class="form-control" name = "publisher" type="text" placeholder="Name of Publisher">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Year Published</label>
                        <div class="col-lg-9">
                          <input class="form-control" name = "year" type="text" placeholder="Publishing Year">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label"></label>
                        <div class="col-lg-9">
                          <button type="submit" class="btn3 btn btn-primary" >Save Changes</button>
                          <button href = "/" class="btn3 btn btn-secondary" >Cancel</button>
  
                        </div>
                      </div>
                    
                  </form>
                </div>
              </div><!-- /form user info -->
            </div>
          </div>
        </div>
        </form>
      </div>
      <%- include('../partials/footer.ejs') %>
</body>
</html>