<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs',{User: User,LoggedIn:LoggedIn}) %>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Borrowing Privileges</h5>
                        <p>The borrowing privileges for LNMIIT Faculty members, Research Scholars, students and staff are as follows:
                            <br>
                            <table class="borr">
                                <tr>
                                    <th>Categories</th>
                                    <th style="text-align:center">Entitlement</th>
                                    <th>Duration</th>
                                </tr>
                                <tr>
                                    <td>Under Graduate Students</td>
                                    <td style="text-align:center">3</td>
                                    <td>15 Days</td>
                                </tr>
                                <tr>
                                    <td>Post Graduate Students</td>
                                    <td style="text-align:center">5</td>
                                    <td>30 Days</td>
                                </tr>
                                <tr>
                                    <td>PhD Students</td>
                                    <td style="text-align:center">7</td>
                                    <td>30 Days</td>
                                </tr>
                                <tr>
                                    <td>Faculty</td>
                                    <td style="text-align:center">20</td>
                                    <td>One Semester</td>
                                </tr>
                                <tr>
                                    <td>Staff</td>
                                    <td style="text-align:center">5</td>
                                    <td>30 Days</td>
                                    </tr>
                            </table>
                            <br>
                            <br>
                            <div class="text-center">
                                <a href="https://forms.gle/jPWsSn4sQ826DpCa7" class="btn btn-primary" style="font-size: arge;">Fill Form</a>
                                &nbsp &nbsp
                                <a href="https://drive.google.com/file/d/1mA2xY1Biwo0tSq6wBBMR6XhKVY3a8zkN/view" class="btn btn-primary" style="background-color:red; border: red; font-size: large;">Rules and Regulations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5" style="max-width: 100%; margin-bottom: 0;">
        <!-- Footer -->
        <footer
                class="text-center text-lg-start text-white"
                style="background-color: #45526e"
                >
            <!-- Grid container -->
            <div class="container p-4 pb-0" style="padding-bottom:0;">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    
                    <p>
                    <a class="text-white" href="#">Gallery</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">Book Recommendation Form</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">Membership Form</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">Open Educational Resources</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">NAAC</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    
                    <p>
                    <a class="text-white" href="#">Shodhganga</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">Shodhgangotri</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">E-ShodhSindhu</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">Swayam</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">UGC</a>
                    </p>
                    <p>
                    <a class="text-white" href="#">National Digital Library of India</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us:</h6>
                    <p><i class="fas fa-envelope mr-3"></i> librarysupport@lnmiit.ac.in</p>
                </div>
                <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <!-- Copyright -->
                    <div class="p-3">
                    © 2022 Copyright: LNMIIT Library
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
            </div>
            <!-- Grid container -->
        </footer>
        <!-- Footer -->
        </div>
</body>