<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
    
    <hr>
    <div class="container">
            <div class="row">
            <div class="col-md-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">CDs/DVDs Collection</h5>
                        <p>This collection is available on request for use within the library. Under this collection you
                          will find the CDs accompanied with the books, magazines, reports, and also a separate
                          collection of feature films and management training videos.<br>
                          </p>
                          <ul>  
                            <li><p><strong><span class="dot"></span> CDs accompanied with the books</strong> are part of the library's online public
                              access catalogue (OPAC). To see the list, click the link below:
                              <br></p>
                              <div ><a href="https://drive.google.com/file/d/1VHSxlV6KmhLrFZ8q0w7Lsa6EvwRDEGJe/view?usp=sharing" class="btn btn-primary">CDs accompanied with the books</a></div>
                            </li>
                            <br>
                            <li>
                              <strong><p><span class="dot"></span></strong> Library has a collection of 26 feature films in the form of DVDs.
To borrow or view, follow the link below:<br></p>
<div ><a href="https://drive.google.com/file/d/1cfruv_cRSRlqJDbnuLK_H9FkMVaxSV8z/view?usp=sharing" class="btn btn-primary">Feature Films</a></div>
                            </li>
                            <br>
                            <li><strong><p><span class="dot"></span></strong> There are a small collection of management and training videos.
                              To borrow or view follow the link below:<br></p>
                              <div ><a href="https://drive.google.com/file/d/1-f4XAuCz5tvbIEcEIFewBc4_yRb37Fkk/view?usp=sharing" class="btn btn-primary">Management and Training Videos</a></div>
                              
                            </li>
                          </ul>
                          <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>