<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
  <style>
    ul.b {
  list-style-type: square;
}
table {
width: 100%;
}
td {
  border: 1px solid #777;
  padding: 10px;
}
td:first-child {
  width: 30%;
}

  </style>
</head>
<body>
    <%- include('../partials/navbar.ejs',{User: User,LoggedIn:LoggedIn}) %>

    <hr>
    <div class="container">
        <div class="col-md-12 text-center">
            <br>
            <h1>Circulation Service</h1>
            <br>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <p class="card-text" spacing="50">
                            This service is managed at Circulation Counter right at the entrance of the library. Under this
service, users can do many transactions such as issuing and returning of books, getting the books re-
issued, reserving an issued book, get the membership of the library. Users can also recommend new
books to the library by filling in a recommendation form.
                        </p>
                          
                        <h5>Borrowing Privileges:</h5>
                        

                        <span></span>
                        <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Categories</th>
                                <th scope="col">Entitlement</th>
                                <th scope="col">Duration</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                
                                <td>Undergraduate</td>
                                <td>3</td>
                                <td>15</td>
                              </tr>
                              <tr>
                                
                                <td>Post Graduate Students</td>
                              <td>5</td>
                              <td>30 days</td>
                              </tr>
                              <tr>
                               
                                <td>PhD Students</td>
                              <td>7</td>
                              <td>30 days</td>
                              </tr>
                              <tr>
                                
                                <td>Faculty</td>
                              <td>20</td>
                              <td>One Semester</td>
                              </tr>
                              <tr>
                               
                              <td>Staff</td>
                              <td>5</td>
                              <td>30 days</td>
                              </tr>
                        
                            </tbody>
                          </table>



                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</head>
</body>