<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <hr>
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Print Books</h1>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ouriginal</h5>
                        <p class="card-text">
                            To support the academic programmes and the research pursuits of the
                            teaching community and the research scholars of the Institute. The Library
                            currently has a collection of 20322 print books (As on 31 March 2022) and
                            aims to enrich the collection particularly, in the area of Information
                            Communication technology and its allied areas. Dewey Decimal
                            Classification (DDC) 22 nd edition is followed for the classification of books
                            and organizing the collection on the shelf.
                            Library holds the collection in the area of science and technology,
                            engineering, humanities, social sciences, management, general etc. The
                            collection is located and displayed from the main building (Hall No1) on the
                            ground floor stack area and extended to the next building (Hall No.2). Books
                            are placed from shelves Nos 1 to 15. To access this collection, follow the link
                            below:
                        </p>
                        <div class="text-center"><a href="https://172.22.2.26/opac/" class="btn btn-primary">Access Collection</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">E- Books</h5>
                        <p class="card-text">
                            The library has a collection of 203+ Ebooks from different reputed
publishers including Elsevier (111), Springer (23), Pearson (19) &amp;
McGraw Hill (50).
                        </p>
                        <div class="text-center"><a href="https://www.lnmiit.ac.in/Library/Ebooks.html" class="btn btn-primary">E-Books</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Textbooks</h5>
                        <p class="card-text">
                            In the particular course, a few books are referred to as textbooks which are kept under this section.
These textbooks may be consulted within the Library after the deposition of ID cards. These books
are non-issuable items and these can be referred to in the library only. Few of the copies of the
reserved textbooks are available for circulation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Reference Books</h5>
                        <p class="card-text">
                            <strong>books are broadly divided into two sections</strong>:<br>
i.<br> General references such as encyclopaedias, dictionaries, directories, handbooks,
geographical sources, manuals and others;
<br>
<br>ii.<br> Subject reference which includes the books, other related reading materials etc, which are
referred as reference materials under any particular course or subject. This section is located
in the stack area on the extended building on the ground floor with separate labels indicating
the reference collection.
To access these books through Online Public Access Catalogue (OPAC), Using this OPAC,
one can search books by Author, Title, Subject and Keywords.To find books on OPAC,
please follow the link below
</p>
    <div class="text-center"><a href="https://172.22.2.26/opac/" class="btn btn-primary">OPAC</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Children’s Books</h5>
            <p class="card-text">
                The Young Learner’s Library (YLL) @ the LNMIIT Central Library is specially developed to
encourage reading and make children smarter by developing critical thinking skills and building
their vocabulary. The main objective of YLL is to provide young children with activities that will
hold their interest.
The YLL provides an excellent opportunity for children in the age group of 5 to 15 years with a
good collection of books covering Children’s Fiction, Stories, Actions and adventure, Science
Fiction, Education, Reference, Classics, Creativity, Facts so on and so forth. Any Faculty or Staff of
LNMIIT, Jaipur whose children are in the age group of 5 – 15 years can become a member.
<strong>Entitlements</strong>
<br>
Members can borrow three books at a time for 15 days. One can return books after two days
and borrow new books.
<br>
<br>
<strong>Timings of YLL</strong>
Monday to Saturday: 5 pm to 7 pm
Sundays and Holidays : 10 am to 12 noon and 4 pm to 6 pm
</p>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">CDs and DVDs</h5>
            <p class="card-text">
                Patent is a scientific innovation done by the various researchers. This search will help you to
identify the latest invention and what are the patents are available. It contains data on more
than 130 million patent documents from around the world. Supporting information can help you
understand whether a patent has been granted and if it is still in force.
</p>
<div class="text-center"><a href="https://worldwide.espacenet.com/" class="btn btn-primary">Go to Patent Search</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Theses and Reports</h5>
            <p class="card-text">
                The Library maintains a hard and soft copy of Ph. D. thesis and PG reports submitted by the
students. The soft copy of the Ph. D. thesis and PG reports are archived in the institutional
repository D-Space which can be accessed within the institute’s intranet through the following
link.
</p>
    <a href="http://172.22.2.20:8080/jspui/" class="btn btn-primary">Get Theses</a>
            
              
            
            

</div>
</div>
</div>

<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Specialized Centre Collections</h5>
            <p class="card-text">
                The LNMIIT Central Library aims to help each Centre of Excellence reach its goals
and missions by providing scientific information related to the current state, future
trends, upcoming conference proceedings, most up to date books, industry-related
white papers, recent journal articles, colloquium presentations, Governmental future
plans, Inter-Government MOUs, etc. It collects and curates the latest research and developmental activities around the globe to help each centre to perform its own
research plan, and prioritise the short term and long term research goals.
To make a beginning, the library is currently working on building collections and
resources for the following four Centres of Excellence
<br>
<br>
1. Centre for Next Generation Communication Networks (C-NGCN)<br>
2. Centre for Machine Learning and Big Data Analytics (CML-BDA)<br>
3. Centre for Cryptography, Cyber Security and Digital Forensics (C3-SDF)<br>
4. LNMIIT Centre for Smart Technology (L-CST)<br>
</p>
<div class="text-center"><a hre"https://lnmiit.irins.org/" class="btn btn-primary">Go to IRINS</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">BTP Reports</h5>
            <p class="card-text">
                It is mandatory for UG students to submit the BTP reports to the library. They are archived in
                the institutional repository year wise and are accessible within the institute intranet through
                the following link.
</p>
<div class="text-center"><a hre"http://172.22.2.20:8080/jspui/handle/123456789/1" class="btn btn-primary">BTP Reports</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Faculty Publications</h5>
            <p class="card-text">
                The library is archiving the collection of faculty publications in the institutional repository DSpace
up to the abstract level. One can search the article/papers by title, author, Keyword, Year of
publication etc. These publications can be easily accessible through the link provided below:
</p>
<div class="text-center"><a hre"http://172.22.2.20:8080/jspui/handle/123456789/122" class="btn btn-primary">Faculty Publications</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">BTP Reports</h5>
            <p class="card-text">
                It is mandatory for UG students to submit the BTP reports to the library. They are archived in
                the institutional repository year wise and are accessible within the institute intranet through
                the following link.
</p>
<div class="text-center"><a hre"http://172.22.2.20:8080/jspui/handle/123456789/1" class="btn btn-primary">BTP Reports</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Open Access Resources</h5>
            <p class="card-text">
                <strong>Open Access Resources</strong> are research materials have been made available to the general public, free of
                charge: data and datasets, books and articles, including scholarly research articles.  This is not the same
                thing as public domain works, or those items that have fallen out of copyright protection; open access
                authors have chosen to share freely, so anyone can use the works legally without permission or fees.
                The Library has compiled a list of Open Access Resources – Subject-wise.
</p>
</div>
</div>
</div>
</head>
</body>