<li class="drop-down nav-item nav-link"><a href="#">Collections</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
    <li><a href="#">Print Books</a></li>
    <li><a href="#">E-Books</a></li>
    <li><a href="#">Text Books</a></li>
    <li><a href="#">Reference Books</a></li>
    <li><a href="#">Children's Books (YLL)</a></li>
    <li><a href="#">CD/DVDs</a></li>
    <li><a href="#">Thesis and Reports</a></li>
    <li><a href="#">Placement and Career Development</a></li>
    <li><a href="#">Specialised Center Collections</a></li>
    <li><a href="#">Periodicals</a></li>
    </ul>
</li>