<li class="drop-down nav-item nav-link"><a href="#">Collections</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
    <li><a href="/books">Books</a></li>
    <li><a href="https://www.lnmiit.ac.in/Library/Ebooks.html">E-Books</a></li>
    <li><a href="/cddvds">CD/DVDs</a></li>
    <li><a href="/libdatabases">Databases</a></li>
    <li><a href="http://172.22.2.20:8080/jspui/">Thesis and Reports</a></li>
    <li><a href="#">Placement and Career Development</a></li>
    <li><a href="#">Specialised Center Collections</a></li>
    <li><a href="#">Periodicals</a></li>
    </ul>
</li>