<li class="drop-down nav-item nav-link"><a href="#">Collections</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
    <li><a href="/books">Books</a></li>
    <li><a href="/ebooks">E-Books</a></li>
    <li><a href="/cddvds">CD/DVDs</a></li>
    <li><a href="/libdatabases">Databases</a></li>
    <li><a href="http://172.22.2.20:8080/jspui/">Thesis and Reports</a></li>
    <li><a href="#">Placement and Career Development</a></li>
    <li><a href="#">Specialised Center Collections</a></li>
    <li><a href="https://drive.google.com/file/d/1i5itt_AVRS0PWseEcmeWvLJ-sq2_ij15/view?usp=sharing">Periodicals</a></li>
    </ul>
</li>