<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs',{User: User,LoggedIn:LoggedIn}) %>

    <hr>
    <div class="container">
        <div class="col-md-12 text-center">
            <br>
            <h1>E-Books</h1>
            <br>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <p class="card-text" spacing="50">
                            The library has a collection of 203+ Ebooks from different reputed
                            publishers including Elsevier (111), Springer (23), Pearson (19) &amp;
                            McGraw Hill (50).<br>
                            To find E- books, please follow the link below:<br>
                        </p>
                        <div style="text-align:center;">
                            <a href="https://www.sciencedirect.com/browse/journals-and-books?contentType=BK&contentType=RW&contentType=BS&accessType=subscribed" class="btn btn-primary">Science Direct</a>
                            &nbsp&nbsp&nbsp&nbsp
                            <a href="https://ebookcentral.proquest.com/lib/lnmiit/search.action?query=" class="btn btn-primary">Pearson</a>
                            &nbsp&nbsp&nbsp&nbsp
                            <a href="https://www.expresslibrary.mheducation.com/bookshelf" class="btn btn-primary">McGraw Hill</a>
                            &nbsp&nbsp&nbsp&nbsp
                            <a href="https://link.springer.com/" class="btn btn-primary">Springer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</head>
</body>