<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
  <%- include('../partials/navbar.ejs',{User: User,LoggedIn:LoggedIn}) %>
  <div class="container py-3">
    <div class="row">
      
        
          <div class="row justify-content-center">
            <div class="col-md-12">
              <span class="anchor" id="formUserEdit"></span>
              
              <!-- form user info -->
              <div class="card card-outline-secondary">
                <div class="card-header text-center">
                  <h3 class="mb-0">Add Faculty Publications</h3>
                </div>
                <div class="card-body">
                  <form autocomplete="off" class="form" role="form">
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Name of Faculty</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="text" placeholder="Enter The Name">
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Title Of Publication</label>
                      <div class="col-lg-9">
                        <input class="form-control" type="email" placeholder="Enter the title">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Add Source Link</label>
                        <div class="col-lg-9">
                          <input class="form-control" type="url" placeholder="Enter the link">
                        </div>
                      </div>
                    
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label"></label>
                      <div class="col-lg-9">
                        <button type="submit" class="btn3 btn btn-primary" >Save Changes</button>
                        <button type="submit" class="btn3 btn btn-secondary" >Cancel</button>

                      </div>
                    </div>
                  </form>
                </div>
              </div><!-- /form user info -->
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
</body>
</html>