<li class="mega-drop-down nav-item nav-link"><a href="#">Find & Borrow</a>
    <div class="animated fadeIn mega-menu">
        <div class="mega-menu-wrap">
            <div class="row">
            
                <div class="col-md-6">
                        <h4 class="row mega-title">Find</h4>
                    <ul class="stander">
            


                        <li class="flyout-left"><a href="https://erp.lnmiit.ac.in/opac/">Books</a>
                            <!-- <ul class="animated fadeIn">
                                <li><a href="http://172.22.11.210/cgi-bin/koha/opac-search.pl?advsearch=1&amp;weight_search=1&amp;do=Search&amp;limit=mc-
                                    itype%2Cphr%3ABK&amp;sort_by=relevance" target="_blank">Textbooks</a></li>
                                <li><a href="http://172.22.11.210/cgi-bin/koha/opac-search.pl?advsearch=1&amp;weight_search=1&amp;do=Search&amp;limit=mc-
                                    itype%2Cphr%3ACB&amp;sort_by=relevance" target="_blank">Competitive Exam Books</a></li>
                                <li><a href="http://172.22.11.210/cgi-bin/koha/opac-search.pl?advsearch=1&amp;weight_search=1&amp;do=Search&amp;limit=mc-
                                    itype%2Cphr%3ACC&amp;sort_by=relevance" target="_blank">Young Learner's Books</a></li>
                            </ul> -->
                        </li>
                        <li class="flyout-left"><a href="#">E-Books</a>
                            <ul class="animated fadeIn">
                                <li><a href="https://www.sciencedirect.com/browse/journals-and-books?contentType=BK&amp;contentType=RW&amp;contentType=BS&amp;accessType=subscribed" target="_blank">Science Direct</a></li>
                                <li><a href="https://ebookcentral.proquest.com/lib/lnmiit/search.action?query=" target="_blank">Pearson</a></li>
                                <li><a href="https://www.expresslibrary.mheducation.com/bookshelf" target="_blank">McGraw Hill</a></li>
                                <li><a href="https://link.springer.com/" target="_blank">Springer</a></li>
                                <li><a href="/openAcessEbooks" target="_blank">Open Access E-Books</a></li>

                            </ul>
                        </li>
                        <li><a href="/libdatabases">Databases</a></li>
                        <li><a href="http://172.22.2.20:8080/jspui/handle/123456789/2">Thesis and Reports</a></li>
                        <li><a href="http://172.22.2.20:8080/jspui/handle/123456789/8">Archived Question Papers</a></li>
                        <li><a href="http://172.22.11.210/cgi-bin/koha/opac-course-reserves.pl">Course Reserves</a></li>
                        <li><a href="http://172.22.2.20:8080/jspui/handle/123456789/122">Faculty Publications</a></li>
                        <li><a href="http://172.22.2.20:8080/jspui/handle/123456789/1">BTP Reports</a></li>
                        <li class="flyout-left"><a href="#">Open Access Resources</a>
                            <ul class="animated fadeIn">
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Computer_Science_Engineering.pdf" target="_blank">CSE</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Electronics_and_Communication_Engineering.pdf" target="_blank">ECE</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Mechanical_and_Mechatronics_Engineering.pdf" target="_blank">Mech. Mechatronics</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Mathematics.pdf">Mathematics</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Physics.pdf" target="_blank">Physics</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Humanities_and_Social_Sciences.pdf" target="_blank">HSS</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Economics_and_Finance.pdf" target="_blank">Economics and Finance</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Patents.pdf" target="_blank">Patents</a></li>
                                <li><a href="https://www.lnmiit.ac.in/uploaded_files/Open_Access-Health_Sciences.pdf" target="_blank">Health Sciences</a></li>
                            </ul>
                        </li>  
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="row mega-title">Borrow</h4>
                    <ul class="description">
                        <li><a href="/borrowingprivileges">Borrowing Privileges</a>
                        <li><a href="http://172.22.11.210/cgi-bin/koha/opac-main.pl">Book Reservation</a>
                        <li><a href="/ill">Article request/Inter Library loan Service</a>
                        <li><a href="/cddvds">Borrow CD/DVDs</a>
                            <li><a href="https://www.lnmiit.ac.in/Library/Library_OPAC.html">Login with your KOHA credentials</a></li>
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
        </li>


