<li class="mega-drop-down nav-item nav-link"><a href="#">Find & Borrow</a>
    <div class="animated fadeIn mega-menu">
        <div class="mega-menu-wrap">
            <div class="row">
            
                <div class="col-md-6">
                        <h4 class="row mega-title">Find</h4>
                    <ul class="stander">
                        <li><a href="#">Books</a></li>
                        <li><a href="#">E-books</a></li>
                        <li><a href="#">Databases</a></li>
                        <li><a href="http://172.22.2.20:8080/jspui/">Thesis and Reports</a></li>
                        <li><a href="#">Archived Question Papers</a></li>
                        <li><a href="#">Course Reserves</a></li>
                        <li><a href="http://172.22.2.20:8080/jspui/handle/123456789/122">Faculty Publications</a></li>
                        <li><a href="http://172.22.2.20:8080/jspui/handle/123456789/1">BTP Reports</a></li>
                        <li><a href="#">Open Access Resources</a></li>   
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="row mega-title">Borrow</h4>
                    <ul class="description">
                        <li><a href="#">Reserve a Book</a>
                        <li><a href="#">Request for articles</a>
                        <li><a href="#">Request for books on Inter-Library Loan</a>
                        <li><a href="#">Borrow CD/DVDs</a>
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
        </li>


