<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>

    <hr>
    <div class="container">
            <div class="row">
            <div class="col-md-12">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Request For Inter-Library Loan</h5>
                        <p>The Library arranges books that are not available in its collection from other libraries
                            in India on Inter-Library Loan (ILL) which our students can borrow under resource
                            sharing.
                            The Library has institutional memberships of the DELNET and IIT Gandhinagar and
                            utilizes their services. There are nominal charges as stipulated by these institutions.
                            To avail this service, please follow the link below:
                        </p>
                        <div class="text-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLScW4MwjzIKrPXXF5cTAU2unLtrchiy47-itFWi-
                          DGNVTnfguA/viewform" class="btn btn-primary">Request form</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>