<li class="drop-down nav-item nav-link"><a href="#">Library Connect</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
        <li><a href="/askus">Ask Us</a></li>
        <li><a href="/bookNotFound">Book Not Found</a></li>
        <li><a href="/complaints">Complaints</a></li>
        <li><a href="/compliment">Give A Compliment</a></li>
        <li><a href="#">Feedback On Library</a></li>
        <li><a href="/askabook">Ask For a Book</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScW4MwjzIKrPXXF5cTAU2unLtrchiy47-itFWi-DGNVTnfguA/viewform">Inter-Library Loan</a></li>
    </ul>
</li>
