<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <hr>
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Research Tools</h1>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ouriginal</h5>
                        <p class="card-text">
                            The Ministry of Education, Govt. of India has initiated a programme &quot;ShodhShuddhi&quot; which
provides access to Plagiarism Detection Software (PDS) to all universities/Institutions in India
since Sept 1, 2019. Under this initiative, Original (formerly Urkund) a Web Based Plagiarism
Detection Software system is being provided to all users of universities/Intuitions in the country.
                        </p>
                        <div class="text-center"><a href="https://shodhshuddhi.inflibnet.ac.in/index.php" class="btn btn-primary">Know More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Turnitin</h5>
                        <p class="card-text">
                            Turnitin is a &#39;text-matching&#39; software which is designed to provide confidence in the
academic integrity of faculty, research scholars and students’ work. Turnitin does this
by comparing the submissions against an archive of Internet documents, Internet
data, a repository of previously submitted papers, and subscription repository of
periodicals, journals, and publications. Turnitin then creates an &#39;Originality Report&#39;
which can be viewed by faculty, research scholars and students, which identifies
where the submitted text has matched another source.
                        </p>
                        <div class="text-center"><a href="https://drive.google.com/file/d/1xrXUmsf_6htB9IZJFxW81ZYS41GozyTX/view?usp=sharing" class="btn btn-primary">How to use Turnitin</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">Grammarly</h5>
                        <p class="card-text">
                            It is a cloud-based typing assistant that reviews spelling, grammar, punctuation,
clarity, engagement, and delivery mistakes. It uses artificial intelligence to identify
and search for an appropriate replacement for the error it locates. It also allows
users to customize their style, tone, and context-specific language.
                        </p>
                        <div class="text-center"><a href="https://grammarly.com/home" class="btn btn-primary">Go to Grammarly</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title text-center">SCImago Journal Ranking</h5>
                        <p class="card-text">
                            The SCImago Journal &amp; Country Rank is a publicly available portal that includes the journals
and country scientific indicators developed from the information contained in
the Scopus® database (Elsevier B.V.). These indicators can be used to assess and analyze
scientific domains. Journals can be compared or analysed separately. Country rankings may
also be compared or analysed separately. Journals can be grouped by subject area (27
major thematic areas), subject category (309 specific subject categories) or by country.
Citation data is drawn from over 34,100 titles from more than 5,000 international publishers
and country performance metrics from 239 countries worldwide.
</p>
    <div class="text-center"><a href="https://www.scimagojr.com" class="btn btn-primary">Go to SCImago</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Scopus</h5>
            <p class="card-text">
                Scopus is a bibliographic database it is being used by the many of the research scholars to
identify the resources available on a particular keyword, most cited documents, country wise
collection report, h-index etc. there are many factors help the researcher about the current and
previous worked done by the authors on this platform.
</p>
<div class="text-center"><a href="https://www.scopus.com" class="btn btn-primary">Go to Scopus</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Patent search</h5>
            <p class="card-text">
                Patent is a scientific innovation done by the various researchers. This search will help you to
identify the latest invention and what are the patents are available. It contains data on more
than 130 million patent documents from around the world. Supporting information can help you
understand whether a patent has been granted and if it is still in force.
</p>
<div class="text-center"><a href="https://worldwide.espacenet.com/" class="btn btn-primary">Go to Patent Search</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Reference/Citation management Tools</h5>
            <p class="card-text">
                When a research scholar is working on certain paper or article or their PhD Thesis they must
know the citation or referencing style. These tools help the researcher correctly format their
citation. Many of the Reference/citation management tools are available few more used common
tolls are Mendeley and Zotero
</p>
    <a href="https://www.mendeley.com/?interaction_required=true" class="btn btn-primary">Go to Mendeley</a>
            
              
            
                <a href="https://www.zotero.org/" class="btn btn-primary">Go to Zotero</a>

</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">Institutional Repository (IR)</h5>
            <p class="card-text">
                Library has created an Institutional repository on Open Source software “D Space” which
serves as a platform for accessing the scholarly contents generated by LNM IIT
community, these are Thesis, BTP reports, book chapters, journal articles, conference
papers, presentations and other intellectual capital items of the Institute like Gazette,
Media and News Coverage etc. The repository contains the metadata and abstracts of
publications and is accessible on the campus network only. The platform provides a way
to manage scholarly contents and publications and give them greater visibility and
accessibility over time.
</p>
<div class="text-center"><a href="http://172.22.2.20:8080/jspui/" class="btn btn-primary">Go to Institutional Repository</a></div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-center">IRINS</h5>
            <p class="card-text">
                IRINS is web-based Research Information Management (RIM) service developed by the
Information and Library Network (INFLIBNET) Centre. The portal facilitates the
academic, R&amp;D organisations and faculty members, scientists to collect, curate and
showcase the scholarly communication activities and provide an opportunity to create
the scholarly network. It has been integrated with academic identity such as ORCID ID,
ScopusID, Research ID, Microsoft Academic ID, Google Scholar ID for ingesting the
scholarly publication from various sources.
</p>
<div class="text-center"><a hre"https://lnmiit.irins.org/" class="btn btn-primary">Go to IRINS</a></div>
</div>
</div>
</div>


    </div>
</head>
</body>