<li class="drop-down nav-item nav-link"><a href="#">Research Support</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
    <li><a href="#">Research Tools</a></li>
    <li><a href="#">Ask for an Article</a></li>
    <li><a href="#">Open Access Resources</a></li>
    <li><a href="#">Reference Management Tools</a></li>
    <li><a href="#">Faculty Publications</a></li>
    
    </ul>
</li>