<li class="drop-down"><a href="#">Services</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
        <li><a href="https://idp.lnmiit.ac.in/">Remote Access</a></li>
        <li><a href="/currentAwarenessServices">Current Awareness Services</a></li>
    <li><a href="/circulationService">Circulation Service</a></li>
    <li><a href="/digitalLibraryService">Digital Library Service</a></li>
    <li><a href="/referenceService">Reference Service</a></li>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScW4MwjzIKrPXXF5cTAU2unLtrchiy47-itFWi-DGNVTnfguA/viewform">Article Request / ILL</a></li>
    <!-- <li><a href="#">Article Request Service</a></li> -->
    <li><a href="https://www.lnmiit.ac.in/Library/Library-Events.html">Library Events</a></li>
    
    </ul>
</li>