<li class="drop-down"><a href="#">Services</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
    <li><a href="#">Current Awareness Services</a></li>
    <li><a href="#">CD/DVD Collection</a></li>
    <li><a href="#">Circulation Service</a></li>
    <li><a href="#">Digital Library Service</a></li>
    <li><a href="#">Reference Service</a></li>
    <li><a href="#">Inter-Library Loan</a></li>
    <li><a href="#">Photocopy Services</a></li>
    <li><a href="#">User Centric Services</a></li>
    </ul>
</li>