<li class="drop-down"><a href="#">Services</a>
    <!--Drop Down-->
    <ul class="drop-down-ul animated fadeIn">
        <li><a href="https://idp.lnmiit.ac.in/">Remote Access</a></li>
        <li><a href="#">Current Awareness Services</a></li>
    <li><a href="#">Circulation Service</a></li>
    <li><a href="#">Digital Library Service</a></li>
    <li><a href="#">Reference Service</a></li>
    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScW4MwjzIKrPXXF5cTAU2unLtrchiy47-itFWi-DGNVTnfguA/viewform">Article Request / ILL</a></li>
    <li><a href="#">Article Request Service</a></li>
    <li><a href="https://www.lnmiit.ac.in/Library/Library-Events.html">User Education Programs</a></li>
    
    </ul>
</li>