@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.image {
  max-width: 200px;
}
body {
  font-weight: 400;
}
.menu{
  font-size: 18px;
}
hr {
  opacity: 30%;
}
.carousel-item {
  height: 32rem;
  position: relative;
  background-position: center;
  background-size: cover;
}

ul{
	list-style:none;
	margin: 0;
	padding: 0;
}
a, a:hover, a.active, a:active, a:visited, a:focus{
	color: #fefefe;
	text-decoration:none;
}

.exo-menu{
	width: 100%;
	float: left;
	list-style: none;
	position:relative;

}
.exo-menu > li {	display: inline-block;}
.exo-menu > li > a{
	color: rgba(0,0,0,.7);
	text-decoration: none;
	
	transition: color 0.2s linear, background 0.2s linear;
}
.exo-menu > li > a.active,
.exo-menu > li > a:hover{
	color: rgba(0,0,0,.9);
}
.my-nav{
z-index: 9999 !important;
border:0 !important;
border-radius: 0 !important;

}

/*mega menu*/

.mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display:none;
  padding-top: 0;
  min-height: 90%;
  max-width: 75%;
  opacity: 90%;
}
h4.mega-title {
  color: #eee;
  margin-top: 0px;
  font-size: 19px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #547787;
  padding-top: 15px;
  background-color: #365670
  }
 .mega-menu ul li a {
  line-height: 25px;
  
  display: block;
}
ul.stander li a {
    padding: 3px 0px;
}

ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}





.mega-menu,.flyout-right ul>li>a,.flyout-left ul>li>a {
	background-color: #547787;
}

/*hover*/
.mega-menu:hover,.drop-down-ul:hover,li.drop-down>a:hover +.drop-down-ul,li.flyout-right>ul:hover,li.flyout-right a:hover +ul,li.flyout-left>ul:hover,li.flyout-left a:hover +ul,
.mega-drop-down a:hover+.mega-menu
{
	display:block;
}
/*responsive*/
 @media (min-width:767px){
	.exo-menu > li > a{
	display:block;
	padding: 10px 12px;
 }
.mega-menu,li.drop-down>ul,.flyout-right>ul,.flyout-left>ul{
		position:absolute;
}
.flyout-right>ul{
	left: 100%;
	}
.flyout-left>ul{
  right: 100%;
  }

 }
@media (max-width:767px){

	.exo-menu {
		
		width: 100%;
	}
	li{
    color:rgb(0, 0, 0);
  }
	.exo-menu > li > a{
		width:100% ;
	}
	.exo-menu > li{
		width:100%;
	}
	
.mega-menu, li.drop-down>ul,.flyout-right>ul,.flyout-left>ul{
		position:relative;
}

}

li.drop-down,.flyout-right,.flyout-left{position:relative;}
li.drop-down:before {
  
  color: #fff;
  display: inline;
  position: absolute;
  
  
}
li.drop-down>ul{
	left: 0px;
	min-width: 200px;
  opacity: 80%;

}
.drop-down-ul{display:none;}
.flyout-right>ul,.flyout-left>ul{
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
  opacity: 80%;
  }

li.drop-down>ul>li>a,.flyout-right ul>li>a,.flyout-left ul>li>a{
  padding: 10px 12px;
  color: #fff;
	color: #fff;
	display: block;
	padding: 10px 12px;
	text-decoration: none;
	background-color: #325674;
	border-bottom: 1px dotted #547787;
	
	transition: color 0.2s linear, background 0.2s linear;
}
.flyout-right ul>li>a,.flyout-left ul>li>a{

	border-bottom: 1px dotted #B8C7BC;
}
.overlay-image {
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.carousel-inner {

  padding: 25px;
}
.mid {
    display: block;
    margin: 50px auto 0 auto;
    width: 100%;
}
.rbar {
    display: inline-block;
}
.rbar li {
    display: inline-block;
    padding: 0px 80px;
}
a{
  text-decoration: none;
}
.rbar li a {
    font-size: 20px;
    color: 	rgb(160,160,160);
    text-decoration: none;

}
.rbar li a:hover,
.rbar li a:active {
    transition: 0.35s;
    color: rgb(0, 0, 0);
}


html {
  box-sizing: border-box;
}

.header {
  padding: 10px 70px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;

}

.line {
  /* margin-top: 149px; */
  padding: 80px 0 80px 85px;
  /* color: white; */
  font-family: 'Roboto';
  font-size: 22px;
  /* background-color: rgba(000, 099, 166, 1); */
}

.institut {
  padding-left: 140px;
  padding-right: 8px;
  font-size: 36px;
  font-weight: lighter;
}
.institut1 {
  padding-left: 140px;
  padding-right: 8px;
  font-size: 36px;
  font-weight: lighter;
}


@media screen and (max-width: 1200px) {
  .line {
    display: flex;
    flex-direction: column;
  }
  .institut {
    display: none;
  }
 }

@media screen and (max-width: 770px) {
  .line {
    padding: 50px 0 50px 25px;
    margin-top: 78px;
  }
  .header {
    padding: 0px 15px;
  }
  .header img {
    width: 150px;
  }
}

.contents {
 display: flex;
 flex-wrap: wrap;
 padding: 75px;
 justify-content: center;
 margin: 0 auto;
}

.images {
 transition: transform .2s;
 width: 250px;
 height: 250px;
 margin: 20px 40px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 transform: scale(1.25);
 border-radius: 20px;
}

.images:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 1700px) {
  .images {
    margin: 20px auto;

  }
}

.my-5{
  margin-bottom: 0;
}
.form-control {
	min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: #e3e3e3;
}
.form-control:focus {
	border-color: #70c5c0;
}
.form-control, .btn {        
	border-radius: 2px;
}
.login-form {
	width: 350px;
	margin: 0 auto;
	padding: 100px 0 30px;		
}
.login-form form {
	color: #7a7a7a;
	border-radius: 2px;
	margin-bottom: 15px;
	font-size: 13px;
	background: #ececec;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;	
	position: relative;	
}
.login-form h2 {
	font-size: 22px;
	margin: 35px 0 25px;
}
.login-form .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #70c5c0;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
	width: 100%;
}	
.login-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.login-form .btn, .login-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #70c5c0 !important;
	border: none;
	margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #50b8b3 !important;
}    
.login-form a {
	color: #fff;
	text-decoration: underline;
}
.login-form a:hover {
	text-decoration: none;
}
.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.login-form form a:hover {
	text-decoration: underline;
}
.login-form .bottom-action {
	font-size: 14px;
}
.cards{
  margin-top: 20px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
#leftbox {
  float:left; 
  
  width:30%;
  /* height:280px; */ 
}
#middlebox{
  float:left; 
  
  width:30%;
  height:280px;
}
#rightbox{
  float:right;
  width: 70%;
  /* width:25%;
  height:280px; */
}

.popup-position{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  
}
#popup-wrapper{
text-align: left;
}
#popup-container{

  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 70px auto;
}

.user{
  margin-top:5px;
  display: inline-block;

}
.btn2{
  float:right;
}
.form-control,.btn3,.form-control-file{
  margin-top: 10px;
}
