<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headers.ejs') %>
</head>
<body>
  <%- include('../partials/navbar.ejs',{LoggedIn:LoggedIn,name:name}) %>
    <hr>
    <div id="carouselExampleIndicators" class="carousel my-carousel container-fluid slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/image3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Library Upper Floor View</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="./images/image1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Library Ground Floor View</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="./images/image2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Library Ground Floor View</h5>
              </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <div align="center">
        <div class="mid">
            <ul class="rbar">
                <li> <a href="#">E-resources</a></li>
                <li><a href="#">Remote Access Services</a></li>
                <li><a href="#">Library Catalogue</a></li>
                <li><a href="#">Daily News</a></li>
            </ul>
        </div>
      </div>
      <!-- <div class="contents">
        <img class="images"
             src="https://docs.google.com/uc?export=download&id=1XRixFRkpU-CM4V5N8Y2jxOMIv7oH177V"
             width=250px/>
        <img class="images"
             src="https://docs.google.com/uc?export=download&id=1_ZhlvrVd1Z7cljVdweC117JNw7xNru7e"
             width=250px/>
        <img class="images"
             src="https://docs.google.com/uc?export=download&id=15IRwannr7LENMy0whf5XFs0OQDEbabky"
             width=250px/>
      </div> -->
      <div class="container-fluid cards">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="./images/image1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title user">Faculty Publications</h5>
                <a href="/userReview" class=" btn2 btn btn-primary stretched-link ml-auto">Add Publications</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="./images/image2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title user">Library Notification/Events</h5>
                <a href="/userReview" class=" btn2 btn btn-primary stretched-link ml-auto">Add Events</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="./images/image3.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title user">User Reviews</h5>
                <a href="/userReview" class=" btn2 btn btn-primary stretched-link ml-auto">Add Review</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
</body>
</html>
